---
layout: default
---

<div class="home">


  <h1 class="page-heading">Junior Full Stack Developer</h1>

  {{ content }}

  <img src="../assets/Mandy Parnell Picture.jpg" alt="alban allen profile">
<p>Hello, I'm an aspiring full stack developer with experience in building mobile responsive websites.</p>
<p>Having recently completed a 4 month Coding Bootcamp I've gained a wealth of knowledge
and am ready to take on the world!</p>
<p>I'm available for work, so please feel free to <a href="mailto:contact.alban.allen@gmail.com">get in touch!</a></p>

</div>
